@import "tailwindcss";

@font-face {
  font-style: normal;
  font-family: "SFProDisplay";
  src: url("./fonts/sf-pro.ttf") format("ttf");
}

@theme {
  /* Black */
  --color-black: #000;
  --color-black-20: #00000020;
  --color-black-30: #00000030;
  --color-black-40: #00000040;
  --color-black-60: #00000060;
  --color-black-85: #00000085;

  /* White */
  --color-white: #fff;
  --color-white-5: #ffffff05;
  --color-white-20: #ffffff20;
  --color-white-30: #ffffff30;
  --color-white-40: #ffffff40;

  /* Background */
  --color-background: #f3f3f3;
  --color-foreground: #ebebeb;

  /* Text */
  --color-hover-text: #ffffff4d;
  --color-grey-text: #ffffff66;
  --color-primary-text: #1f1e1e;
  --color-foreground-text: #7b7b7b;
  --color-white-60: #ffffff60;

  /* Hover */
  --color-trn-hover: #b3b3b33d;
  --color-hover-background: #ffffff33;

  /* Select */
  --color-select-bg-hover: #ffffff26;
  --color-select-text-hover: #ffffff80;
  --color-select-border-hover: #ffffff26;

  /* Status */
  --color-status-primary: #2685e1;
  --color-status-success: #41be6b;
  --color-status-warning: #e0a100;
  --color-status-error: #ff4a4a;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: "SFProDisplay";
  color: var(--color-primary-text);
  background-color: var(--color-background);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
