@import "tailwindcss";

@font-face {
  font-style: normal;
  font-family: "SFProDisplay";
  src: url("/fonts/sf-pro.ttf") format("truetype");
}

@theme {
  --color-*: initial; /* reset default colors */
  --color-white: #fff;
  --color-black: #000;
  --color-background: #f3f3f3;
  --color-foreground: #ebebeb;
  --color-foreground-text: #7b7b7b;
  --color-trn-hover: rgba(179, 179, 179, 0.24);
  --color-hover-background: rgba(256, 256, 256, 0.2);
  --color-hover-text: rgba(256, 256, 256, 0.3);
  --color-grey-text: rgba(256, 256, 256, 0.4);

  --color-primary-text: #1f1e1e;

  /* Select */
  --color-select-bg-hover: rgba(256, 256, 256, 0.15);
  --color-select-text-hover: rgba(256, 256, 256, 0.5);
  --color-select-border-hover: rgba(256, 256, 256, 0.15);

  /* Status */
  --color-status-primary: #2685e1;
  --color-status-success: #41be6b;
  --color-status-error: #ff4a4a;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: SFProDisplay;
  color: var(--color-primary-text);
  background-color: var(--color-background);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
